@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header.topo{
    width: 100%;
    background-color: #290742;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
}
header.topo a{
    padding: 0 20px;
    color: #F2E7FA;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
header.topo .submit-line{
    display: flex;
}
header.topo .submit-line input[type="text"]{
    background-color: #170027;
    color:#F2E7FA;
    border:none !important;
    height:44px;
    width: 230px;
    padding:0 20px ;
}

header.topo .submit-line button{
    background-color: #9E6DC2;
    height:44px;
    width:70px;
    border:none !important;
}
main.conteudo-principal{
    width: 100%;
    background-color: #290742;
    display:flex ;
    justify-content: space-around;
    padding: 20px  5% 50px 5%;
    border-bottom: 3px solid #4FFF4B;
}
main.conteudo-principal .text-conteudo-principal{
    width: 50%;
}
main.conteudo-principal .text-conteudo-principal h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 54px;
    color: #9E6DC2;
}
main.conteudo-principal .text-conteudo-principal p{
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FBF6FF;
    padding: 20px 0;
}
main.conteudo-principal .text-conteudo-principal a{
    color: #9E6DC2;
    font-size: 18px;
    font-family: Roboto;
    text-decoration: none;
    background: url('img/arrow-right.svg') no-repeat right;
    padding:0px 30px 0 0;
    line-height: 40px;
}



main.conteudo-principal .img-conteudo-principal{
    width: 50%;
}
main.conteudo-principal .img-conteudo-principal img{
    width: 100%;
}
